* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form {
    width: 12vw;
    margin-left: 7px;
    margin-top: 7px;
}
div {
    display: block;
}
input {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 23px;
}
#nome {
    width: 17vw;
}
#numdependentes {
    width: 4vw;
}
#salariob {
    width: 7vw;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
#tableNome {
    width: 20vw;
}
th {
    text-align: left;
    background-color: #E6DDC4;
}
table {
    margin-left: 7px;
    margin-top: 1vw;
}